/target
bigtest/AA8_MDT02-ETRS89-HU30-0592-4-COB2.asc_Cropped.gcode
bigtest/AA8_Ordesa.asc.gcode
bigtest/AA8_Ordesa1.3mf
bigtest/exported.stl
bigtest/MDT02-ETRS89-HU30-0592-4-COB2.asc_Cropped.dem
bigtest/MDT02-ETRS89-HU30-0592-4-COB2.asc_Cropped.dem.bak
bigtest/MDT02-ETRS89-HU30-0592-4-COB2.asc_Cropped.obj
bigtest/MDT02-ETRS89-HU31-0178-1-COB2.asc
bigtest/Ordesa.asc
bigtest/Ordesa.asc.bak
bigtest/Ordesa.asc.obj
bigtest/Ordesa.mix
bigtest/Ordesa1_10pc.stl
bigtest/Ordesa1.asc
bigtest/Ordesa1.asc_mirrored_10pc.obj
bigtest/Ordesa1.asc_mirrored.obj
bigtest/Ordesa1.asc.bak
bigtest/Ordesa1.asc.obj
bigtest/Ordesa1.stl
bigtest/principio.txt
bigtest/salidaKK.txt
